/* ----- RESET CSS ----- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

a, a:active, a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

button, input, textarea, select {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    border-radius: 0;
}

button {
    cursor: pointer;
}

button, button:active, button:focus {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
}

:focus {
    outline: none;
}

:focus:not(:focus-visible) {
    outline: none;
}

[hidden] {
    display: none !important;
}

/* ----- FONTS ----- */

@font-face {
    font-family: "Roboto-local";
    src: url("../assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-local";
    src: url("../assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-display: swap;
    font-style: italic;
}

/* ----- COLORS ----- */

/*https://coolors.co/e84855-bdd358-3e92cc-7c238c-de3b71*/
/*https://coolors.co/1f1f1f-292929-3d3d3d-e8eded-f7f9f9-ffffff*/

:root {
    --text-light: #000000;
    --text-dark: #FFFFFF;
    --text-75-light: rgba(0, 0, 0, 0.75);
    --text-75-dark: rgba(255, 255, 255, 0.75);
    --text-50-light: rgba(0, 0, 0, 0.5);
    --text-50-dark: rgba(255, 255, 255, 0.5);
    --text-25-light: rgba(0, 0, 0, 0.25);
    --text-25-dark: rgba(255, 255, 255, 0.25);
    --background-light: #F7F9F9;
    --background-dark: #1F1F1F;
    --layer-light: #FFFFFF;
    --layer-dark: #292929;
    --border-light: #E8EDED;
    --border-dark: #3D3D3D;
    --red: #E84855;
    --green: #BDD358;
    --blue: #3E92CC;
    --pink: #DE3B71;
    --purple: #7C238C;
}

/* ----- BODY ----- */

html, body {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    -webkit-user-drag: none;
    touch-action: manipulation;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--text);
    background-color: var(--background);
    font-family: "Roboto-local", sans-serif;
    line-height: 1.4;
    font-weight: 400;
    font-size: 16px;
}

[hidden] {
    display: none !important;
}

main, section.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%;
    height: 100%;
    padding: 50px 14px;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

nav {
    display: flex;
    gap: 4px;
    padding: 4px;
    border-radius: 14px;
    background-color: var(--layer);
}

nav button {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: solid 1px transparent;
    color: var(--text-50);
}

nav button.active {
    border: solid 1px var(--border);
    color: var(--text);
}

#lists-container {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
}

.item-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    border-radius: 14px;
    border: solid 1px var(--border);
    background-color: var(--layer);
    cursor: pointer;
}

.item-list li span {
    flex: 1;
}

.empty {
    color: var(--text-50);
    cursor: default !important;
    font-style: italic;
}

.delete-activity-btn {
    position: relative;
    width: 32px;
    height: 32px;
}

.delete-activity-btn::before, .delete-activity-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 2px;
    background-color: var(--red);
    transform-origin: center;
}

.delete-activity-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.delete-activity-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#fab-add {
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 14px;
    border: solid 1px var(--border);
    background-color: var(--layer);
}

#fab-add::before, #fab-add::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--text);
    transform-origin: center;
}

#fab-add::before {
    width: 16px;
    height: 2px;
    transform: translate(-50%, -50%);
}

#fab-add::after {
    width: 2px;
    height: 16px;
    transform: translate(-50%, -50%);
}

#student-detail-view header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

#student-detail-name {
    padding: 0 4px;
    font-size: 32px;
}

.student-detail-btn {
    display: flex;
    gap: 4px;
}

.student-detail-btn button {
    padding: 4px 10px;
    border-radius: 10px;
    border: solid 1px var(--border);
    background-color: var(--layer);
}

#delete-student-btn {
    color: var(--red);
}

#student-detail-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.student-info {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 14px;
    border-radius: 14px;
    background-color: var(--layer);
}

.student-info div {
    margin-bottom: 4px;
    font-style: italic;
}

.student-info p, .student-info a {
    display: block;
    text-decoration: none;
    color: var(--text-75);
}

#back-to-list-btn {
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 14px;
    border: solid 1px var(--border);
    background-color: var(--layer);
}

.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    padding: 4px;
    border-radius: 14px;
}

#modal-title {
    font-size: 24px;
}

#modal-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    padding: 6px 10px;
    color: var(--text-75);
}

.form-group label span {
    padding-bottom: 1px;
    color: var(--text-50);
    font-size: 14px;
    font-style: italic;
}

.form-group input {
    width: 100%;
    padding: 14px 18px;
    border-radius: 10px;
    border: solid 1px var(--border);
    background-color: var(--layer);
}

.form-group input::placeholder {
    color: var(--text-25);
}

.modal-actions {
    display: flex;
    gap: 4px;
    padding: 10px 0;
}

.modal-actions button {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: solid 1px var(--border);
    background-color: var(--layer);
}

#modal-cancel-btn {
    color: var(--red);
}

#confirm-modal-message {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
}

#confirm-ok-btn {
    color: var(--red);
}

.status-acquired, .status-not-acquired {
    padding: 0 21px !important;
    border: none !important;
}

.activity-status.status-acquired {
    background-color: rgba(189, 211, 88, 0.5);
}

.activity-status.status-not-acquired {
    background-color: rgba(232, 72, 85, 0.5);
}

button[data-level="PS"], button[data-level="MS"] {
    border: none !important;
}

button[data-level="PS"].active {
    background: linear-gradient(to top, rgba(222, 59, 113, 0.35) 0%, transparent 100%);
}

button[data-level="MS"].active {
    background: linear-gradient(to top, rgba(124, 35, 140, 0.35) 0%, transparent 100%);
}

/* ----- SPLASH SCREEN ----- */

/* ----- V3 ----- */

#splash {
    z-index: 1;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background: radial-gradient(circle at center, var(--background), var(--background));
    animation: splashFade 1.4s cubic-bezier(0.85, 0, 0.15, 1) 0.2s forwards;
}

#splash img {
    width: 100px;
    opacity: 0;
    animation: logoMotion 1.4s cubic-bezier(0.85, 0, 0.15, 1) 0.2s forwards;
}

@keyframes logoMotion {

    0% {
        opacity: 0;
        transform: scale(1.5);
        filter: blur(8px);
    }

    12.5%, 87.5% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }

    100% {
        opacity: 0;
    }

}

@keyframes splashFade {

    0%, 87.5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }

}

/* ----- V2 ----- */

/*#splash {
    z-index: 1;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: var(--background);
    animation: fadeOut 0.25s ease forwards 1s;
}

#splash img {
    opacity: 0;
    width: 100px;
    animation: logoIn 0.5s ease forwards;
}

@keyframes logoIn {

    to {
        opacity: 1;
    }

}

@keyframes fadeOut {

    to {
        opacity: 0;
        pointer-events: none;
    }

}*/

/* ----- V1 ----- */

/*#splash {
    z-index: 1;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, var(--background), var(--background));
    animation: splashFade 2.4s cubic-bezier(0.85, 0, 0.15, 1) 0.4s forwards;
}

#splash img {
    width: 100px;
    opacity: 0;
    animation: logoMotion 2.4s cubic-bezier(0.85, 0, 0.15, 1) 0.4s forwards;
}

@keyframes logoMotion {

    0% {
        opacity: 0;
        transform: scale(1.5);
        filter: blur(8px);
    }

    25% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }

    50% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
        box-shadow: 0 0 0 var(--background);
    }

    100% {
        opacity: 0;
        transform: scale(28);
        filter: blur(68px);
    }

}

@keyframes splashFade {

    0%, 75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }

}*/

/* ----- THEMES ----- */

@media (prefers-color-scheme: light) {

    :root {
        --text: var(--text-light);
        --text-75: var(--text-75-light);
        --text-50: var(--text-50-light);
        --text-25: var(--text-25-light);
        --background: var(--background-light);
        --layer: var(--layer-light);
        --border: var(--border-light);
    }

}

@media (prefers-color-scheme: dark) {

    :root {
        --text: var(--text-dark);
        --text-75: var(--text-75-dark);
        --text-50: var(--text-50-dark);
        --text-25: var(--text-25-dark);
        --background: var(--background-dark);
        --layer: var(--layer-dark);
        --border: var(--border-dark);
    }

}